.about-page .about-container {
  max-width: 1200px;
}

.about-page .about-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../../../assets/images/landing/about.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-page .about-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5%;
  direction: rtl;
}

.about-page .about-hero-content {
  color: #fff;
  max-width: 600px;
}

.about-page .about-hero-content h1 {
  color: #fff;

  font-family: Cairo;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.8px;
}

.about-page .about-hero-content p {
  color: #fff;
  font-family: Cairo;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.8px;
}

.about-page .about-frame-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
}

.about-page .frame {
  display: flex;
  width: 1200px;
  align-items: flex-start;
  justify-content: center;
  gap: 72px;
  padding: 32px;
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
}

.about-page .frame .element {
  flex: 1 0 0;
  color: #000;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Cairo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.about-page .frame .div {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.about-page .frame .text-wrapper {
  color: #000;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.about-page .frame .div-2 {
  align-items: center;
  gap: 7.33px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.about-page .frame .p {
  width: fit-content;
  font-family: 'Cairo-Bold', Helvetica;
  color: #06101c;
  font-size: 26.4px;
  line-height: 26.4px;
  position: relative;
  font-weight: 400;
}

.about-page .frame .span {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 39.1px;
}

.about-page .frame .text-wrapper-2 {
  font-family: 'Cairo-Regular', Helvetica;
  font-size: 20.5px;
  letter-spacing: 0;
  line-height: 36px;
}

.about-page .frame .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.99px;
  font-family: 'Protest Guerrilla-Regular', Helvetica;
  font-weight: 400;
  color: #06101c;
  font-size: 73.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about-page .how-we-work {
  padding-top: unset;
  margin-top: 72px;
}
.about-page .features-container {
  margin-bottom: 104px;
}

@media (max-width: 480px), (max-width: 768px) {
  .about-page .about-hero-content {
    max-width: 100%;
  }

  .about-page .about-hero-content h1 {
    font-size: 1.5rem;
  }

  .about-page .about-hero-content p {
    font-size: 1rem;
  }

  .about-page .about-overlay {
    justify-content: center;
    padding: unset;
  }

  .about-page .frame {
    flex-direction: column;
    align-items: center;
    margin: 16px;
  }

  .about-page .vision-container {
    flex-direction: column;
  }

  .about-page .vision-section {
    padding: 1rem !important;
  }

  .about-page .features-container {
    margin: 16px !important;
  }
}

.about-page .vision-section {
  padding: 2rem;
  background-color: #f7f7f7;
  font-family: 'Arial', sans-serif;
  margin: auto;
}

.about-page .vision-container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 2rem;
  background: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: auto;
}

.about-page .vision-image {
  /* flex: 1 1 300px; */
}

.about-page .vision-image img {
  width: 100%;
  border-radius: 1rem;
  display: block;
}

.about-page .vision-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex: 1 0 0;
}

.about-page .vision-text h2 {
  color: #000;
  text-align: right;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Cairo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.about-page .vision-text p {
  align-self: stretch;
  color: #000;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Cairo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.about-page .vision-goals {
  color: #000;
  /* text-align: right; */
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Cairo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  align-self: stretch;
}

.about-page .vision-text ul {
  list-style: none;
  padding: 0;
}

.about-page .vision-text ul li {
  position: relative;
  /* padding-right: 1.5rem; */
}

.about-page .vision-text ul li::before {
  content: '▪';
  position: relative;
  margin: 0 16px;
}

.about-page .section-title {
  color: #000;
  text-align: center;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Cairo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 48px;
  margin-top: 104px;
}

.about-page .why-us-card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  /* gap: 40px; */
  flex: 1 0 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  height: 312px;
  justify-content: unset;
}

.about-page .why-us-icon-wrapper {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  box-shadow: unset;
  background: unset;
  margin-bottom: 40px;
}

.about-page .why-us-icon-wrapper h3 {
  color: #000;
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.about-page .why-us-icon-wrapper p {
  color: #000;
  text-align: center;
  font-family: Cairo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 16px 0;
}
