:root {
  --primary-color: #1b40ff;
  --secondary-color: #5fb095;
}

.contact-us-page {
  font-family: 'Cairo', sans-serif;
}

/* Hero */
.contact-us-page .hero {
  padding: 24px 20px 0 20px;
  text-align: center;
}

.contact-us-page .hero .container_css {
  padding: 0 20px;
}

.contact-us-page .hero h1 {
  width: unset;
  line-height: unset;
}

.contact-us-page .hero p {
  margin: auto;
  width: 778px;
}

.contact-us-page .contact-section {
  padding: 56px 20px;
}

.contact-us-page .contact-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  /* flex-wrap: wrap; */
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 10px;
}

.contact-us-page .contact-info {
  background: #012c3b;
  color: #fff;
  flex: 1 1 300px;
  padding: 30px;
  border-radius: 0 0 0 12px;
}

.contact-us-page .contact-info h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

.contact-us-page .contact-info p {
  margin-bottom: 25px;
  font-size: 14px;
  color: #ccc;
}

.contact-us-page .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 15px;
}

.contact-us-page .info-item i.icon {
  margin-left: 10px;
  font-size: 16px;
}

.contact-us-page .contact-form {
  flex: 2 1 500px;
  padding: 30px;
  position: relative;
}

.contact-us-page .send-letter {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.contact-us-page .form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-us-page .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-us-page .form-group label {
  margin-bottom: 6px;
  color: var(--Gray-700, #414651);
  font-family: Cairo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.contact-us-page .form-group input,
.contact-us-page .form-group textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;

  display: flex;
  height: 48px;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d5d7da);
  background: var(--White, #fff);

  flex: 1 0 0;
  color: var(--Gray-500, #717680);
  /* text-align: right; */
  font-family: Cairo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.contact-us-page textarea {
  min-height: 100px;
  resize: vertical;
}

.contact-us-page button {
  padding: 12px 32px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  min-width: 256px;
  margin: 24px 0px;
  border-radius: 32px;
  z-index: 2;
  position: relative;
}

@media (max-width: 768px) {
  .hero p {
    width: 100%;
  }

  .contact-us-page .contact-container {
    flex-direction: column;
  }

  .contact-us-page .contact-info {
    border-radius: 12px 12px 0 0;
    text-align: center;
  }

  .contact-us-page .contact-form {
    border-radius: 0 0 12px 12px;
    width: 100%;
    padding: 16px;
  }

  .contact-us-page .form-row {
    flex-direction: column;
  }

  .contact-us-page .frame .div-6 {
    left: 140px !important;
    align-items: flex-start !important;
    /* direction: ltr; */
    text-align: center;
    /* width: 100% !important; */
    /* position: relative !important;
        align-items: center !important;
        margin: auto;
        left: unset; */
  }

  .contact-us-page .frame .div-2 {
    top: 230px !important;
    left: 95px !important;
  }
}

.contact-us-page .frame {
  position: relative;
  background: linear-gradient(180deg, #102699, #1b40ff);
  border-radius: 16px;
  overflow: hidden;
}

.contact-us-page .frame .overlap-group {
  position: absolute;
  width: 596px;
  height: 633px;
  top: -87px;
  left: -105px;
}

.contact-us-page .frame .rectangle {
  position: absolute;
  width: 491px;
  height: 546px;
  top: 87px;
  left: 105px;
  object-fit: cover;
}

.contact-us-page .frame .ellipse {
  position: absolute;
  width: 269px;
  height: 269px;
  top: 0;
  left: 0;
  background-color: #ffffff1f;
  border-radius: 134.5px;
}

.contact-us-page .frame .div {
  position: absolute;
  width: 138px;
  height: 138px;
  top: 150px;
  left: 167px;
  background-color: #fff8f821;
  border-radius: 69px;
}

.contact-us-page .frame .div-2 {
  display: flex;
  flex-direction: column;
  width: 324px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 313px;
  left: 155px;
  direction: rtl;
}

.contact-us-page .frame .div-3 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.contact-us-page .frame .text-wrapper {
  width: fit-content;
  margin-top: -1px;
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  letter-spacing: 0;
  line-height: normal;
}

.contact-us-page .frame .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.contact-us-page .frame .div-4 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.contact-us-page .frame .group {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 4px;
  left: 2px;
}

.contact-us-page .frame .div-5 {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.contact-us-page .frame .p {
  position: relative;
  width: 288px;
  margin-top: -1px;
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.contact-us-page .frame .div-6 {
  display: flex;
  flex-direction: column;
  width: 204px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 135px;
  left: 270px;
}

.contact-us-page .frame .text-wrapper-2 {
  /* align-self: stretch; */
  margin-top: -1px;
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 28px;
  /* direction: rtl; */
  position: relative;
  letter-spacing: 0;
  line-height: normal;
}

.contact-us-page .frame .text-wrapper-3 {
  /* align-self: stretch; */
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  color: #c8c8c8;
  font-size: 18px;
  direction: rtl;
  position: relative;
  letter-spacing: 0;
  line-height: normal;
}

.contact-us-page .frame .vector {
  position: absolute;
  width: 6px;
  height: 5px;
  top: 467px;
  left: -14345px;
}

.contact-us-page button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
