@import 'tailwindcss';

@theme {
  --font-cairo: 'Cairo', sans-serif;
  --color-primary: #003153;
  --color-light-gray: #fcfcfc;
}

.container {
  width: 100%;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 116rem /* 1536px */;
  }
}
.bg-bacground-image-auth {
  background-image: url('@/assets/images/auth/auth-layout-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
